html
  head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title HTTP2SSH
    script(src="index.js")
    link(rel="stylesheet", href="style.css")
  body
    .top-wrapper
      .header
        h2
          | Make ssh:// links accessible via HTTP.
        h2
          | Find this useful? Please consider making a 
          a(href="https://www.gofundme.com/4fst6bc") donation
      .wrapper
        form
          .wrapper
            .wrapper
              input.textbox(type="text", name="username", placeholder="Username(optional)")
            .wrapper
              input.textbox(type="text", name="hostname", placeholder="Hostname")
            .wrapper
              input.textbox(type="text", name="portnumber", placeholder="Port number", value="22")
          .wrapper
            input.button(type="button", name="copy", value="Copy", onclick="copyURL(this.form)")
            input.button(type="button", name="login", value="Login", onclick="goToSSH(this.form)")
